<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tout ce qui est link dans son dossier /libs -->
    <link rel="stylesheet" href="../public/libs/bootstrap.css">
    <link rel="stylesheet" href="../public/libs/dataTables.bootstrap4.min.css">
    <script src="../public/libs/dataTables.bootstrap4.min.js"></script>
    <script src="../public/libs/jquery.dataTables.min.js"></script>
    <script src="../public/libs/jquery.min.js"></script>
    <!------------------------------------------------->

    <title>Product Database System</title>
</head>
<body>

<!-- Nav bar, qui sera dans le partials/header.ejs -->
<header>
    <nav>

    </nav>
</header>
<!--------------------------------------------------->

<main>
    <section>Section du haut</section>

    <section>Tableau</section>

    <section>Section du bas (pas le footer! hihi)</section>

</main>

<!-- Aucun footer dans les partials en ce moment ? -->

</body>
</html>