<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/libs/bootstrap.css">
    <link rel="stylesheet" href="../public/libs/dataTables.bootstrap4.min.css">
    <script src="../public/libs/dataTables.bootstrap4.min.js"></script>
    <script src="../public/libs/jquery.dataTables.min.js"></script>
    <script src="../public/libs/jquery.min.js"></script>
    

    <title>Product Database System</title>
</head>
<body>

<!-- Nav bar, qui sera dans le partials/header.ejs -->
<header>
    <nav>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Hidden brand</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
    </nav>
</header>
<!--------------------------------------------------->

<main>
    <section>Section du haut</section>

    <section>Tableau</section>

    <section>Section du bas (pas le footer! hihi)</section>

</main>

<!-- Aucun footer dans les partials en ce moment ? -->

</body>
</html>