<%- include("partials/header") -%>

<body>

<!-- Nav bar, qui sera dans le partials/header.ejs -->
<header>
  <nav class="navbar navbar-dark bg-primary">
    <label for="titre">Titre</label>
    <input type="text">
  </nav>
</header>
<!--------------------------------------------------->

<main>
    <section>Section du haut</section>

    <section>Tableau</section>

    <section>Section du bas (pas le footer! hihi)</section>

</main>

<!-- Aucun footer dans les partials en ce moment ? -->

</body>
</html>