<%- include("partials/header") -%>

<body>

<!-- Nav bar, qui sera dans le partials/header.ejs -->
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
          </div>
        </nav>
      </div>
</header>
<!--------------------------------------------------->

<main>
    <section>Section du haut</section>

    <section>Tableau</section>

    <section>Section du bas (pas le footer! hihi)</section>

</main>

<!-- Aucun footer dans les partials en ce moment ? -->

</body>
</html>