<%- include("partials/header") -%>



<main>
    <section>Section du haut</section>

    <section>Tableau</section>

    <section>Section du bas (pas le footer! hihi)</section>

</main>

<!-- Aucun footer dans les partials en ce moment ? -->

</body>
</html>